/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SquiDPipe
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
plugins {
    id 'nf-validation'
}

validation {
    help {
    enabled: true
    }
}
*/

process.debug = true

// Select here whether you want to use conda, docker or apptainer
conda.enabled = false
docker.enabled = true
apptainer.enabled = false


process {  
container = 'wim1994/squidpipe:latest'

// adjust computational resources below
withLabel:process_low {
        cpus   = 16
        memory = 25.GB
        time   = '23.h'
    }
}

params {

    // Input files and directories

    csv_file               = 'full.csv'
    fastq_dir              = "/mnt/d/projects/sciensano/minION_run050_POD5/basecalling/pass"
    pod5_dir               = "/mnt/d/projects/sciensano/minION_run050_POD5"
    references             = '/home/biolab/databases/references/GCF_000001405.40_GRCh38.p14_genomic.fna' 
    
    // Options
    
    // if true, all metadata should be included, and an input file for squidbase will be generated 
    csvMeta                = true // false or true 

    // if true, subsetted POD5 files will be generated
    pod5_split             = true // false or true

    // 'pure_isolate' or 'full' execution mode
    execution_mode         = 'pure_isolate'
    
    // Databases
    databases {
		kraken_db          = '/home/biolab/databases/kraken2/pluspf_16_29Nov2024'
    }

    // Conda environments

    conda_envs {
        default_env        = "${projectDir}/squidpipe_env.yaml"
    }

}